.nvbackground {
  width: 100%;
  height: 32px;
  background-color: #d0dada;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 8px;
  line-height: 32px;
  align-items: center;
  align-content: center;
}

.nvlogo {
  margin-right: 6.87px;
}

.nvtitle {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 10px;
}
